In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import openpyxl

In [7]:
df = pd.read_excel('2020_Data_Professional_Salary_Survey_Responses.xlsx',)
df

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2020,2020-01-04 18:50:34.328,115000.0,United States,03,Microsoft SQL Server,15,"Microsoft SQL Server, MongoDB, Azure SQL DB (a...",Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2016,20K-99K (large town),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2020,2020-01-04 10:43:01.821,100000.0,United States,NaN,Other,6,MySQL/MariaDB,Full time employee,"Developer: App code (C#, JS, etc)",...,informix,informix,1M+ (metropolis),Private business,Not Asked,Prefer not to say,Male,Not Asked,Not Asked,1
2,2020,2020-01-04 09:51:45.885,100000.0,Spain,28046,Microsoft SQL Server,2,MySQL/MariaDB,Full time employee,Other,...,SQL Server 2017,SQL Server 2017,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2020,2020-01-04 01:08:53.605,70000.0,United States,94133,Microsoft SQL Server,3,Microsoft Access,Full time employee,Analyst,...,SQL Server 2016,SQL Server 2012,1M+ (metropolis),Private business,Not Asked,Change both employers and roles,Male,Not Asked,Not Asked,1
4,2020,2020-01-03 15:28:54.163,110000.0,United States,95354,Oracle,30,"Microsoft SQL Server, Oracle, MySQL/MariaDB, P...",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2016,SQL Server 2008R2,100K-299K (city),Non-profit,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8622,2017,2017-01-05 05:34:33.866,35000.0,France,Not Asked,Microsoft SQL Server,10,Oracle,Full time employee of a consulting/contracting...,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8623,2017,2017-01-05 05:33:03.316,56000.0,United Kingdom,Not Asked,Microsoft SQL Server,6,NaN,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8624,2017,2017-01-05 05:32:57.367,95000.0,Germany,Not Asked,Microsoft SQL Server,5,"Oracle, MySQL/MariaDB, Informix",Full time employee,Other,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
8625,2017,2017-01-05 05:26:23.388,61515.0,United Kingdom,Not Asked,Microsoft SQL Server,15,"Oracle, PostgreSQL",Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
8626,2017,2017-01-05 05:10:20.451,200000.0,United States,Not Asked,Microsoft SQL Server,10,MySQL/MariaDB,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

In [ ]:
#del df['Survey Year', 'Timestamp', 'PostalCode','PrimaryDatabase','YearsWithThisDatabase','OtherDatabases','EmploymentStatus','JobTitle','']

In [23]:
newdf = ['SalaryUSD', 'Country', 'Education', 'YearsWithThisTypeOfJob']
df[newdf]
df_new = df[newdf].rename(columns={'YearsWithThisTypeOfJob': 'Years'})
df_new

      SalaryUSD         Country                   Education  Years
0      115000.0   United States                   Not Asked      5
1      100000.0   United States                   Not Asked      6
2      100000.0           Spain                   Not Asked      3
3       70000.0   United States                   Not Asked      3
4      110000.0   United States                   Not Asked     25
...         ...             ...                         ...    ...
8622    35000.0          France         Bachelors (4 years)     10
8623    56000.0  United Kingdom        Associates (2 years)      2
8624    95000.0         Germany                     Masters     25
8625    61515.0  United Kingdom  None (no degree completed)      3
8626   200000.0   United States                     Masters      5

[8627 rows x 4 columns]

In [25]:
df_new.to_excel('out1.xlsx',sheet_name='sheet1')