In [17]:
import numpy as np
import pandas as pd
#行索引和列索引
#列索引比较重要可以df.列，df['列']
#行索引就df.行，df.loc['hang']
#找元素就先列在行df[行][列]，或者df.loc[列][行]]
####
#行切片可以随便切df[A:B]
#对于列切片，只能df2.iloc[:,1:3]

In [18]:
'''
data frame
'''

df2 = pd.DataFrame(data = np.random.randint(0,150, size=(10,4)),
index = list('ABCDEFHHIJ'),
columns = ['Python','Math','En','Physics'])

In [45]:
df2

   Python  Math     En  Physics
A      85   134   17.0       88
B       5   111   11.0      112
C      92    66   38.0      108
D      81   136  136.0      125
E      72    42  147.0       15
F      17   113    NaN      106
H      16    69  138.0       69
H      53    35   86.0        7
I     109   101  102.0       73
J      77    13   11.0       70

In [44]:
df2.isnull().any(axis=1)

A    False
B    False
C    False
D    False
E    False
F     True
H    False
H    False
I    False
J    False
dtype: bool

In [15]:
df3.set_index('Unnamed: 0')
df3.rename(columns = {'Unnamed: 0':'Index'})

  Index  Python  Math  En  Physics
0     A      83    68  87      102
1     B      99   108  90       89
2     C      98    79  40       44
3     D      31     4   7        1
4     E     102    76   4      140
5     F      25   122   3      134
6     H      17   107  55       60
7     H     139   126   6      119
8     I      90   110  83       73
9     J      86    20  73        7

In [16]:
df2.Python
#dataframe的列是series，
#是多个series组成
#

A     83
B     99
C     98
D     31
E    102
F     25
H     17
H    139
I     90
J     86
Name: Python, dtype: int32

In [ ]:
df2.add()