In [ ]:
'''
数据清洗
数据挖掘

空数据处理方式:
定位空数据
数据map groupby
'''

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [27]:
df= DataFrame({'item':np.random.randint(0,10, size = 100),
'seller':np.random.randint(0,10, size = 100),
'weight':np.random.randint(30,300, size = 100),
'price':np.random.randint(1,20, size = 100),

})

In [28]:
def convert_item(x):
    if x<2:
        return "萝卜"
    elif x<7:
        return "白菜"
    else:
        return "青椒"



df['item'] = df['item'].map(convert_item)

In [29]:
df

   item  seller  weight  price
0    白菜       4     227     14
1    白菜       1     272      1
2    白菜       6     248     14
3    白菜       1     275     15
4    白菜       2     152      6
..  ...     ...     ...    ...
95   萝卜       6     293     11
96   白菜       5      42     19
97   白菜       8     210      1
98   青椒       1      90     18
99   青椒       9     148      3

[100 rows x 4 columns]

In [30]:
def convert_seller(x):
    if x<5:
        return "张大妈"
    if x<7:
        return '李大妈'
    else:
        return '赵大爷'

df['seller'] = df['seller'].map(convert_seller)

In [32]:
def convert_weight(x):
    if x<80:
        return 50
    elif x<150:
        return 100
    else:
        return 150
df['weight'] = df['weight'].map(convert_weight)

In [37]:
ret = df.groupby('seller')['weight']

In [46]:
def analysis(x):
    return (x.size,x.sum(),np.round(x.mean()),x.min())
ret.apply(analysis)

seller
张大妈    (36, 4150, 115.0, 50)
李大妈    (33, 3800, 115.0, 50)
赵大爷    (31, 3700, 119.0, 50)
Name: weight, dtype: object

In [49]:
ret1 = df.groupby(['seller','item'])

In [61]:
ret1.agg({'weight':'sum','price':'mean'})

             weight      price
seller item
张大妈    白菜      2250   9.285714
       萝卜       300   8.500000
       青椒      1600   8.230769
李大妈    白菜      1600   9.562500
       萝卜      1250  10.555556
       青椒       950  10.750000
赵大爷    白菜      1500   9.214286
       萝卜       650  11.400000
       青椒      1550   9.083333