In [ ]:
#KNN
#KNN必须都是数字
#定义函数转化为数字
#归一化操作
#最大最小值归一化，标准差归一化

In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [19]:
new_col = ['age','workclass','final_weight','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','salary']
salary = pd.read_csv('./maishu/adult.txt',names=new_col,header=0)
salary.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [17]:
salary.shape

(32561, 15)

In [83]:
salary_train = salary.iloc[0:32461][:]
salary_train.head()
salary_train_x = salary_train[['age','workclass','education','race','sex','marital_status','hours_per_week']]
salary_train_y = salary_train['salary']
salary_test = salary.iloc[32461:][:]
salary_test_x = salary_test[['age','workclass','education','race','sex','hours_per_week']]
salary_test_y = salary_test['salary']

In [84]:
workclass = salary_train_x['workclass'].unique()
m= {}
for i,work in enumerate(workclass):
    m[work] = i
m
salary_train_x['workclass'] = salary_train_x['workclass'].map(m)
salary_train_x

,age,workclass,education,race,sex,marital_status,hours_per_week
0,50,0,Bachelors,White,Male,Married-civ-spouse,13
1,38,1,HS-grad,White,Male,Divorced,40
2,53,1,11th,Black,Male,Married-civ-spouse,40
3,28,1,Bachelors,Black,Female,Married-civ-spouse,40
4,37,1,Masters,White,Female,Married-civ-spouse,40
...,...,...,...,...,...,...,...
32456,33,1,Masters,Asian-Pac-Islander,Male,Married-civ-spouse,50
32457,36,1,Bachelors,White,Male,Married-civ-spouse,45
32458,85,1,Bachelors,White,Male,Married-civ-spouse,3
32459,62,1,HS-grad,White,Female,Widowed,32
32460,24,1,Bachelors,White,Female,Never-married,32

In [85]:
salary_train_x.columns

Index(['age', 'workclass', 'education', 'race', 'sex', 'marital_status',
       'hours_per_week'],
      dtype='object')

In [86]:
salary_train_x['education'].unique()

#np.argwhere(u ==  ' Masters')[0,0]

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [87]:
for col in salary_train_x.columns[2:6]:
    
    u = salary_train_x[col].unique()
    
    def convert(x):
        return np.argwhere(u == x)[0,0]
    salary_train_x[col] = salary_train_x[col].map(convert)

In [88]:
salary_train_x

       age  workclass  education  race  sex  marital_status  hours_per_week
0       50          0          0     0    0               0              13
1       38          1          1     0    0               1              40
2       53          1          2     1    0               0              40
3       28          1          0     1    1               0              40
4       37          1          3     0    1               0              40
...    ...        ...        ...   ...  ...             ...             ...
32456   33          1          3     2    0               0              50
32457   36          1          0     0    0               0              45
32458   85          1          0     0    0               0               3
32459   62          1          1     0    1               6              32
32460   24          1          0     0    1               3              32

[32461 rows x 7 columns]

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_train,x_test,y_train,y_test = train_test_split(salary_train_x,salary_train_y,test_size = 0.2)
y_train.shape

(25968,)

In [98]:
knn = KNeighborsClassifier(n_neighbors=15)

knn.fit(x_train,y_train)

y_ = knn.predict(x_test)
(y_==y_test).mean()

0.7930078546126598

In [99]:
##归一化操作!!!消除属性差异
v_min = salary_train_x.min()
v_max = salary_train_x.max()

X = (salary_train_x-v_min)/(v_max-v_min)
X.head()

        age  workclass  education  race  sex  marital_status  hours_per_week
0  0.452055      0.000   0.000000  0.00  0.0        0.000000        0.122449
1  0.287671      0.125   0.066667  0.00  0.0        0.166667        0.397959
2  0.493151      0.125   0.133333  0.25  0.0        0.000000        0.397959
3  0.150685      0.125   0.000000  0.25  1.0        0.000000        0.397959
4  0.273973      0.125   0.200000  0.00  1.0        0.000000        0.397959

In [100]:
x_train,x_test,y_train,y_test = train_test_split(X,salary_train_y,test_size = 0.2)

In [101]:
knn = KNeighborsClassifier(n_neighbors=15)

knn.fit(x_train,y_train)

y_ = knn.predict(x_test)
(y_==y_test).mean()

0.8228861851224395

In [115]:
#Z-score
v_mean = salary_train_x.mean()
v_std = salary_train_x.std()
X2 = (salary_train_x - v_mean)/v_std
X2

,age,workclass,education,race,sex,marital_status,hours_per_week
0,0.837774,-1.083167,-0.991382,-0.353133,-0.702771,-0.899407,-2.223428
1,-0.042099,-0.412111,-0.701714,-0.353133,-0.702771,-0.283075,-0.035068
2,1.057743,-0.412111,-0.412046,1.241394,-0.702771,-0.899407,-0.035068
3,-0.775327,-0.412111,-0.991382,1.241394,1.422895,-0.899407,-0.035068
4,-0.115422,-0.412111,-0.122378,-0.353133,1.422895,-0.899407,-0.035068
...,...,...,...,...,...,...,...
32456,-0.408713,-0.412111,-0.122378,2.835921,-0.702771,-0.899407,0.775435
32457,-0.188745,-0.412111,-0.991382,-0.353133,-0.702771,-0.899407,0.370184
32458,3.404072,-0.412111,-0.991382,-0.353133,-0.702771,-0.899407,-3.033932
32459,1.717648,-0.412111,-0.701714,-0.353133,1.422895,2.798584,-0.683471
32460,-1.068619,-0.412111,-0.991382,-0.353133,1.422895,0.949589,-0.683471

In [107]:
x_train,x_test,y_train,y_test = train_test_split(X2,salary_train_y,test_size = 0.2)

In [109]:
knn = KNeighborsClassifier(n_neighbors=10)

knn.fit(x_train,y_train)

y_ = knn.predict(x_test)
(y_==y_test).mean()

0.8210380409671955

In [110]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [114]:
s = StandardScaler()
X4 = s.fit_transform(salary_train_x)
X4[:10]

array([[ 0.83778706, -1.08318417, -0.99139734, -0.35313853, -0.70278173,
        -0.89942036, -2.22346234],
       [-0.0421001 , -0.41211689, -0.70172481, -0.35313853, -0.70278173,
        -0.28307913, -0.03506885],
       [ 1.05775884, -0.41211689, -0.41205228,  1.24141284, -0.70278173,
        -0.89942036, -0.03506885],
       [-0.7753394 , -0.41211689, -0.99139734,  1.24141284,  1.4229169 ,
        -0.89942036, -0.03506885],
       [-0.11542403, -0.41211689, -0.12237975, -0.35313853,  1.4229169 ,
        -0.89942036, -0.03506885],
       [ 0.76446313, -0.41211689,  0.16729278,  1.24141284,  1.4229169 ,
         0.33326211, -1.98030751],
       [ 0.98443491, -1.08318417, -0.70172481, -0.35313853, -0.70278173,
        -0.89942036,  0.37018921],
       [-0.55536761, -0.41211689, -0.12237975, -0.35313853,  1.4229169 ,
         0.94960335,  0.77544726],
       [ 0.25119562, -0.41211689, -0.99139734, -0.35313853, -0.70278173,
        -0.89942036, -0.03506885],
       [-0.11542403, -0.41211689,  0.45696531,  1.24141284, -0.70278173,
        -0.89942036,  3.20699558]])

In [119]:
#保存模型
import joblib

In [121]:
joblib.dump(knn,'./model')

['./model']

In [123]:
model = joblib.load('./model')
model

KNeighborsClassifier(n_neighbors=10)